.feature-container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  height: 50vh;
}
.feature-container img {
  max-width: 500px;
  margin: 20px;
}
.feature-description {
  margin: 1rem auto;
}

@media (max-width: 700px) {
  .feature-container {
    flex-direction: column;
  }
  .feature-container img {
    width: 100%;
  }
  .feature-description {
    text-align: center;
  }
}
